.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.menus {
  margin: 2.3vw auto 0;

}

.Dropdown-control {
  background-color: #363636 !important;
  color: snow;
}

.graph {
  width: 45vw;
  height: 50vh;
  margin: 2.3vw auto 0;
}

.drop{
  width: 30vw;
  display: inline-block;
}

h1 {
  color: #4f4f4f;
}

.recharts-tooltip-label {
  margin:0;
  color: black;
  font-weight: bold;
}


