.App {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 5vw;
  display: inline-block;
}

.menus {
  margin: 2.3vw auto 0;
  width: 65%;
}

.Dropdown-control {
  background-color: #363636 !important;
  color: snow;
}

.graphRUL, .graphSensor {
  width: 45vw;
  height: 50vh;
  margin: 2.3vw auto 0;
}

.graphRUL, .graphSensor{
  margin-top: 15.5vh;
}


.graphContainer{
  float: left;
}

.drop{
  width: 30vw;
  font-weight: bold;
  position: absolute;
}

h1 {
  color: #636363;
}

.recharts-tooltip-label {
  margin:0;
  color: black;
  font-weight: bold;
}


